<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahulwadhwa238.gitsearch" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="GitSearch"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".controller.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.ProfileSearchResult"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity"/>
        </activity>

        <activity android:name=".controller.ProfileDetails"
            android:parentActivityName=".controller.ProfileSearchResult">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.ProfileSearchResult"/>
        </activity>
    </application>

</manifest>